<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
        </li>
        
    {% if app.user %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('user') }}">Mon Profil</a>
        </li>
    {% if is_granted("ROLE_ADMIN")%}
        <li class="nav-item">
          <a class="nav-link" href="{{ path ('app_admin')}}">Back-Office</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path ('app_notification')}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
</svg></a>
        </li>
    {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path ('app_logout')}}">Deconnexion</a>
        </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path ('app_login')}}">Connexion</a>
        </li>
    {% endif %}
        
        
      </ul>
    </div>
  </div>
</nav>