{% extends 'base.html.twig' %}

{% block title %}Vacance index{% endblock %}

{% block body %}
    <h1>Vacance</h1>

    <table class="table">
        <thead>
            <tr>
                <th>JourDeDebut</th>
                <th>JourDeFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacance in vacances %}
            <tr>
                <td>{{ vacance.jourDeDebut ? vacance.jourDeDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vacance.jourDeFin ? vacance.jourDeFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_vacance_show', {'id': vacance.id}) }}">show</a>
                    <a href="{{ path('app_vacance_edit', {'id': vacance.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Vous n'avez pas posez de vacances</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vacance_new') }}">Posez des vacances</a>
{% endblock %}
