{% extends 'base.html.twig' %}

{% block title %}Vacance{% endblock %}

{% block body %}
    <h1>Vacance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vacance.id }}</td>
            </tr>
            <tr>
                <th>JourDeDebut</th>
                <td>{{ vacance.jourDeDebut ? vacance.jourDeDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>JourDeFin</th>
                <td>{{ vacance.jourDeFin ? vacance.jourDeFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vacance_index') }}">back to list</a>

    <a href="{{ path('app_vacance_edit', {'id': vacance.id}) }}">edit</a>

    {{ include('vacance/_delete_form.html.twig') }}
{% endblock %}
