{% extends "base.html.twig" %}

{% block h1 %}Information de l'employer{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Contrat</th>
      <th scope="col">Badge</th>
      <th scope="col">Majeur</th>
      <th scope="col">Date de debut</th>
      <th scope="col">Heure De début</th>
      <th scope="col">Heure De fin</th>
      <th scope="col">Jour de travail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.email}}</td>
      <td>{{user.contrat.typeContrat}}</td>
      <td>{{user.badge}}</td>
      <td>{{user.age}}</td>
      <td>
         {% if user.contrat.typeContrat == 'cdi'%}
             Date de debut : {{ user.dateDebut|date('Y/m/d') }}
        {% elseif user.contrat.typeContrat == 'cdd'%}
            Date de debut : {{ user.dateDebut|date('Y/m/d') }}
            Date de fin : {{ user.dateFin|date('Y/m/d') }}
        {% endif %}
      </td>
      <td>{{user.horaireDebut|date('H:i:s') }}</td>
      <td>{{user.horaireFin|date('H:i:s') }}</td>
      <td>{{user.jourTravail|join(', ') }}</td>
    </tr>
   
  </tbody>
</table>

<form method="post" action="{{ path('delete_user', {'id': user.id}) }}" onsubmit="return confirm('Ête vous sur de vouloir supprimer l'employer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>



{% endblock %}