{% extends "base.html.twig" %}

{% block h1 %} Ajouter des employer {% endblock %}


{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="">
    {{ form_start(formUser) }}
    
        {{ form_row(formUser.nom) }}
        {{ form_row(formUser.prenom) }}
        {{ form_row(formUser.email) }}
        {{ form_row(formUser.password) }}
    <div class="d-flex justify-content-around mt-4">
        {{ form_row(formUser.horaireDebut) }}
        {{ form_row(formUser.horaireFin) }}
        {{ form_row(formUser.jourTravail) }}
    </div>

    <div class="d-flex justify-content-around mt-4">
        {{ form_row(formUser.roles) }}
        {{ form_row(formUser.badge) }}
        {{ form_row(formUser.age) }}
        {{ form_row(formUser.contrat) }}
        {{ form_row(formUser.boutique) }}
        {{ form_row(formUser.dateDebut) }}
        {{ form_row(formUser.dateFin) }}
    </div>
    <div class="text-center mt-5">
        <button type="submit" class="btn bg-info">Ajouter</button>
    </div>
    {{ form_end(formUser) }}
</div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        var typeContratRadios = document.querySelectorAll('input[name="user[contrat]"]');
        var dateDebutField = document.querySelector('#user_dateDebut').parentNode;
        var dateFinField = document.querySelector('#user_dateFin').parentNode;

        typeContratRadios.forEach(function(radio){
            radio.addEventListener('change', toggleDateField);
        });
       function toggleDateField() {
        
    var selectedValue;
    typeContratRadios.forEach(function(radio) {
        //Ce code permet d'écouter le champ séléctionner (cdi, cdd, saisonnier, étudiant)
        //Ensuite le champs séléctionner sera stocker dans la variable selectValue
        if (radio.checked) {
            selectedValue = radio.value;
        }
    });

    if (selectedValue === '2') {  // Ce code permet de faire en sorte que quand le contrat cdd est séléctionner les champs date de début et dte de fin apparaissent
        dateDebutField.style.display = 'block';
        dateFinField.style.display = 'block';

    } else if (selectedValue === '1'){// Ce code permet de faire en sorte que quand cdi est séléctionner il y est que le champs date de début qui apparaissent
        dateDebutField.style.display = 'block';
        dateFinField.style.display = 'none';
    }
   
    else {// Ce code permet de dire que si aucun des champs n'est (cdd ou cdi) est séléctionner les champs n'apparaissent pas
        dateDebutField.style.display = 'none';
        dateFinField.style.display = 'none';
    }
}

        toggleDateField();
    });

  </script>

{% endblock %}