{% extends "base.html.twig" %}

{% block h1 %} Modifier employer{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="">
    {{ form_start(user) }}
        {{ form_row(user.nom) }}
        {{ form_row(user.prenom) }}
        {{ form_row(user.email) }}
    <div class="d-flex justify-content-around mt-4">
        {{ form_row(user.badge) }}
        {{ form_row(user.age) }}
        {{ form_row(user.horaireDebut) }}
        {{ form_row(user.horaireFin) }}
        {{ form_row(user.jourTravail) }}
        {{ form_row(user.contrat) }}
    </div>
    
        <button type="submit" class="btn">Modifier</button>
    {{ form_end(user) }}
</div>
 

    
{% endblock %}